/* these are just to get the canvas right */
* {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}

.relative {
  user-select: none;
  position: relative;
}

.ui {
  position: absolute /* needs to be important for fullscreen */ !important;
  pointer-events: none;
  width: 100%;
  height: 100%;
  container-type: inline-size;
  container-name: ui;
}

html,
body {
  overflow: hidden;
  background-color: black;
}

.lil-gui {
  --background-color: #000;
  --widget-color: #0af;
  --padding: 2px;
  --widget-height: 2;
}

/* font sizing */
div {
  font-size: 2cqi;
  container: ui;
}

.f-s {
  font-size: 1cqi;
}

.f-l {
  font-size: 3cqi;
}

/* c for container */
.row-c {
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.column-c {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: lightgray;
}

/* ui disables pointer events to allow the canvas to accept them */
.interactive {
  pointer-events: auto;
}
